body {
    font-family: sans-serif;
    background: #eee;
}

body h1 {
    color: #36F;
}

a, a:visited{
    color: #36F;
    text-decoration: none;
}

a:hover {
    color: #444;
}

ul {
    list-style-image: url("images/right.png");
    margin-left: 10px;
}

/* Horizontal menu */
.hmenu ul {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    left: 50%;
    text-align: center;
}

.hmenu ul li {
    display: block;
    float: left;
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
    position: relative;
    right: 50%;
}

.hmenu ul li a {
    display: block;
    float: left;
    margin: 0 1px;
    padding: 5px 10px;
    background: #fff;
    text-decoration: none;
    color: #000;
    border-top: 1px solid #369;
    border-left: 1px solid #369;
    border-right: 1px solid #369;
    position: relative;
    bottom: 1px;
}

.hmenu ul li a:hover {
    background: #36f;
    color: #fff;
}

.hmenu ul li.active {
    margin-top: 10px;
}

.hmenu ul li.active a,
.hmenu ul li.active a:hover {
    position: relative;
    bottom: 0;
    padding: 10px;
    background: #fff;
    color: #000;
    font-weight: bold;
}

/* Lists of articles */
.articles ul {
    list-style: none;
    padding: 0;
}

.articles ul li {
    list-style: none;
}

.art_odd, .art_even {
    padding: 5px;
}

.art_odd {
    background: #eee;
}

.art_even {
    background: #fff;
}

/* Single article */
.article h1 {
    font-size: 1.2em;
}

.tags {
    padding: 2px;
    border: 1px solid #000;
}

/* Admin forms */
.summary {
    width: 100%;
    height: 15%;
}

.fulltext {
    width: 100%;
    height: 40%;
}

.page {
    margin: 2em auto;
    width: 80%;
    border: 5px solid #ccc;
    padding: 0.8em;
    background: white;
}

.flash {
    background: #CEE5F5;
    padding: 0.5em;
    border: 1px solid #AACBE2;
}

.error {
    background: #F0D6D6;
    padding: 0.5em;
}

.metanav, .quicksearch {
    text-align: right;
    font-size: 0.8em;
    padding: 0.3em;
}

.quicksearch form {
    display: inline;
}

.login {
    text-align: left;
}

.tags p, form {
    display: inline;
}

.footer {
    text-align: center;
}

.footer p {
    display: inline;
}

.hll { background-color: #ffffcc }
.c { color: #60a0b0; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #007020; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.cp { color: #007020 } /* Comment.Preproc */
.c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0044DD } /* Generic.Traceback */
.kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.kp { color: #007020 } /* Keyword.Pseudo */
.kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.kt { color: #902000 } /* Keyword.Type */
.m { color: #40a070 } /* Literal.Number */
.s { color: #4070a0 } /* Literal.String */
.na { color: #4070a0 } /* Name.Attribute */
.nb { color: #007020 } /* Name.Builtin */
.nc { color: #0e84b5; font-weight: bold } /* Name.Class */
.no { color: #60add5 } /* Name.Constant */
.nd { color: #555555; font-weight: bold } /* Name.Decorator */
.ni { color: #d55537; font-weight: bold } /* Name.Entity */
.ne { color: #007020 } /* Name.Exception */
.nf { color: #06287e } /* Name.Function */
.nl { color: #002070; font-weight: bold } /* Name.Label */
.nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.nt { color: #062873; font-weight: bold } /* Name.Tag */
.nv { color: #bb60d5 } /* Name.Variable */
.ow { color: #007020; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #40a070 } /* Literal.Number.Float */
.mh { color: #40a070 } /* Literal.Number.Hex */
.mi { color: #40a070 } /* Literal.Number.Integer */
.mo { color: #40a070 } /* Literal.Number.Oct */
.sb { color: #4070a0 } /* Literal.String.Backtick */
.sc { color: #4070a0 } /* Literal.String.Char */
.sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.s2 { color: #4070a0 } /* Literal.String.Double */
.se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.sh { color: #4070a0 } /* Literal.String.Heredoc */
.si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.sx { color: #c65d09 } /* Literal.String.Other */
.sr { color: #235388 } /* Literal.String.Regex */
.s1 { color: #4070a0 } /* Literal.String.Single */
.ss { color: #517918 } /* Literal.String.Symbol */
.bp { color: #007020 } /* Name.Builtin.Pseudo */
.vc { color: #bb60d5 } /* Name.Variable.Class */
.vg { color: #bb60d5 } /* Name.Variable.Global */
.vi { color: #bb60d5 } /* Name.Variable.Instance */
.il { color: #40a070 } /* Literal.Number.Integer.Long */
