<div class="article">
    {% if article %}
    <div>
        <p>
            <em>{{ _('Published') }} {{ article[0].updated }}</em>
        </p>
    </div>

    <div>
        {{ article[0].text|safe }}
    </div>

    <div class="tags">
        <p>Tags:
            {% for tag in article[0].tags.split() %}
                <a href="{{ url_for('tag_search', tag=tag.lower()) }}">{{ tag }}</a>
            {% else %}
                {{ _('No tag found') }}
            {% endfor %}
        </p>
    </div>
    {% else %}
    <p><em>{{ _('Article not found') }}</em></p>
    {% endif %}
</div>
