<div class="articles">
    <ul>
        {% for article in articles %}
            <li>
                <div class="{{ 'art_' + loop.cycle('odd', 'even') }}">
                    {% if (article.lang == 'en' and session.en) or (article.lang == 'fr' and not session.en) %}
                    <h2>
                        <a href="{{ url_for('articles') + article.id_a.__str__() }}">{{ article.title }}</a>
                    </h2>
                    <p>{{ article.summary|safe }}</p>
                    {% else %}
                    <h3>
                        <a href="{{ url_for('articles') + article.id_a.__str__() }}">{{ article.title }}</a>
                    </h3>
                    <p><em>{{ _('lang') }} {{ article.lang }}</em></p>
                    {% endif %}
                </div>
            </li>
        {% else %}
            <li><em>{{ _('No article found') }}</em></li>
        {% endfor %}
    </ul>
</div>
