<div class="hmenu">
    <ul>
        {% for endpoint, caption in [
            ('index', _('Index')) if not session.logged_in else ('admin', _('Admin panel')),
            ('categories', _('Categories')),
            ('links', _('Links')),
            ('search', _('Search'))
            ] %}
            <li {% if endpoint == request.endpoint %}class="active"{% endif
            %}><a href="{{ url_for(endpoint) }}">{{ caption }}</a></li>
        {% endfor %}
    </ul>
</div>
