<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <title>{% block title %}{% endblock %} (Beta)</title>
    <meta name="keywords" lang="fr" content="blog,depierre,tao,sauvage" />
    <meta name="description" content="Blogue technique de Tao DePierre Sauvage" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta http-equiv="Content-Language" content="fr" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',
    filename='style.css') }}" />
</head>
<body>
    <h1>{% block headtitle %}{% endblock %}</h1>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}

    {% include "_hmenu.html" %}

    <div class="metanav">
        {% if not session.logged_in %}
            <a href="{{ url_for('admin') }}">admin</a>
        {% else %}
            <a href="{{ url_for('logout') }}">{{ 'log out' if session.en else 'déconnexion' }}</a>
        {% endif %}
        |
        {% if session.en %}
            <a href="{{ url_for('lang_fr') }}">fr</a>
        {% else %}
            <a href="{{ url_for('lang_en') }}">en</a>
        {% endif %}
    </div>

    <div class="quicksearch">
        <form action="{{ url_for('global_search') }}" method="post">
            <p>
                <input type="text" size="20px" name="search" />
                <input type="hidden" name="categorie" value="" />
                <input type="submit" value="{{ 'Search' if session.en else 'Rechercher' }}" />
            </p>
        </form>
    </div>

    {% block body %}{% endblock %}

    {% include "_footer.html" %}
</body>
</html>
