{% extends "_layout.html" %}

{% block title %}
    {{ _('About') }}
{% endblock %}
{% block headtitle %}
    {{ _('About') }}
{% endblock %}

{% block body %}

<div class="page">
    <p>TODO: complete this page...</p>
</div>
{% endblock %}
