{% extends "_layout.html" %}

{% block title %}{{ _('Admin') }}{% endblock %}
{% block headtitle %}
    {% if not session.logged_in %}
        {{ _('Login') }}
    {% else %}
        {{ _('Admin panel') }}
    {% endif %}
{% endblock %}

{% block body %}
<div class="page">
{% if not session.logged_in %}
<div class="login">
{% if error %}
    <p class="error"><strong>{{ error }}</strong></p>
{% endif %}
<form action="{{ url_for('login') }}" method="post">
    <dl>
        <dt>{{ _('Username') }}</dt>
        <dd><input type="text" name="username" /></dd>
        <dt>{{ _('Password') }}</dt>
        <dd><input type="password" name="password" /></dd>
        <dd><input type="submit" value="{{ _('Login') }}" /></dd>
    </dl>
</form>
</div>
{% else %}
<div class="v_menu">
</div>

{% include "_articles.html" %}

<form action="{{ url_for('add_art') }}" method="post">
    <dl>
        <dt>{{ _('Title') }}</dt>
        <dd><input type="text" size="30px" name="title" /></dd>
        <dt>{{ _('Summary') }}</dt>
        <dd><textarea class="summary" name="summary" rows="5" cols="60"></textarea></dd>
        <dt>{{ _('Text') }}</dt>
        <dd><textarea class="fulltext" name="text" rows="60" cols="60"></textarea></dd>
        <dt>{{ _('Lang') }}</dt>
        <dd><input type="text" size="30px" name="lang" /></dd>
        <dt><label for="categorie">Categories</label></dt>
        <dd><select name="id_cat" id="categorie">
            <option label="empty" selected="selected"> </option>
            {% for categorie in categories %}
            <option label="{{ categorie['label'].lower() }}" value="{{
            categorie['id_cat'] }}">{{ categorie['label'] }}</option>
            {% endfor %}
        </select></dd>
        <dt>{{ _('Tags') }}</dt>
        <dd><input type="text" size="30px" name="tags" /></dd>
        <dd><input type="submit" value="{{ _('Share') }}" /></dd>
    </dl>
</form>
{% endif %}
</div>
{% endblock %}
