{% extends "_layout.html" %}

{% block title %}{{ _('Articles') }}{% endblock %}
{% block headtitle %}{{ _('Articles') }}{% endblock %}

{% block body %}
<div class="h_menu">
</div>

<div class="page">
    {% include "_articles.html" %}
</div>
{% endblock %}
