{% extends "_layout.html" %}

{% block title %}
    {% if article %}
        {{ article[0].title }}
    {% else %}
        {{ _('Article not found') }}
    {% endif %}
{% endblock %}
{% block headtitle %}
    {% if article %}
        {{ article[0].title }}
    {% else %}
        {{ _('Article not found') }}
    {% endif %}
{% endblock %}

{% block body %}

<div class="page">
{% if not session.logged_in or not article %}
    {% include "_article.html" %}
{% else %}
    <form action="{{ url_for('edit_art') }}" method="post">
        <dl>
            <dt>ID article:</dt>
            <dd><input type="text" size="30px" name="id_art" value="{{
            article[0].id_a }}" /></dd>
            <dt>{{ _('Title') }}</dt>
            <dd><input type="text" size="30px" name="title" value="{{
            article[0].title }}"/></dd>
            <dt>{{ _('Date') }}</dt>
            <dd><input type="text" size="30px" name="updated" value="{{
            article[0].updated }}" /></dd>
            <dt>{{ _('Summary') }}</dt>
            <dd><textarea class="summary" name="summary" rows="5" cols="60">{{
                article[0].summary }}</textarea></dd>
            <dt>{{ _('Text') }}</dt>
            <dd><textarea class="fulltext" name="text" rows="60" cols="60">{{ article[0].text }}</textarea></dd>
            <dt>{{ _('Lang') }}</dt>
            <dd><input type="text" size="30px" name="lang" value="{{
            article[0].lang }}" /></dd>
            <dt>ID categorie</dt>
            <dd><input type="text" size="30px" name="id_cat" value="{{
            article[0].id_c }}"/></dd>
            <dt>{{ _('Tags') }}</dt>
            <dd><input type="text" size="30px" name="tags" value="{{
            article[0].tags }}"/></dd>
            <dd><input type="submit" value="Edit" /></dd>
        </dl>
    </form>
{% endif %}
</div>
{% endblock %}
