{% extends "_layout.html" %}

{% block title %}{{ _('Categories') }}{% endblock %}
{% block headtitle %}{{ _('Categories') }}{% endblock %}

{% block body %}
<div class="h_menu">
</div>

<div class="v_menu">
</div>

<div class="page">
    <ul class="categories">
    {% for categorie in categories %}
        <li><a href="{{ url_for('categories') + categorie.id_cat.__str__() }}">{{ categorie.label }}</a></li>
    {% else %}
        <li><em>{{ _('No categorie found') }}</em></li>
    {% endfor %}
    </ul>
{% if session.logged_in %}
<form action="{{ url_for('add_cat') }}" method="post">
    <dl>
        <dt>{{ _('Label') }}</dt>
        <dd><input type="text" size="30px" name="label" /></dd>
        <dd><input type="submit" value="{{ _('Create') }}" /></dd>
    </dl>
</form>
<form action="{{ url_for('edit_cat') }}" method="post">
    <dl>
        <dt>ID Categorie:</dt>
        <dd><input type="text" size="30px" name="id_cat" /></dd>
        <dt>{{ _('Label') }}</dt>
        <dd><input type="text" size="30px" name="label" /></dd>
        <dd><input type="submit" value="{{ _('Edit') }}" /></dd>
    </dl>
</form>
{% endif %}
</div>
{% endblock %}
