{% extends "_layout.html" %}

{% block title %}{{ _('DePierre\'s blog') }}{% endblock %}
{% block headtitle %}{{ _('Index') }}{% endblock %}

{% block body %}
<!--<div class="v_menu">
<ul class="categories">
{% for categorie in categories %}
    <li><a href="{{ url_for('categories') + categorie.id_cat.__str__() }}">{{ categorie.label }}</a></li>
{% endfor %}
</ul>
</div>-->

<div class="page">
    {% include "_articles.html" %}
</div>

{% endblock %}
