{% extends "_layout.html" %}

{% block title %}{{ _('License WTFPL v2') }}{% endblock %}
{% block headtitle %}{{ _('License WTFPL v2') }}{% endblock %}

{% block body %}
<div class="page">
    <p align="center">DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE</p>
    <p align="center">Version 2, December 2004</p>
    <p><br>Copyright (C) 2004 Sam Hocevar <sam@hocevar.net><br><br></p> 
    <p>Everyone is permitted to copy and distribute verbatim or modified
    copies of this license document, and changing it is allowed as long
    as the name is changed.<br></p>
    <p align="center">DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE</p>
    <p align="center">TERMS AND CONDITIONS FOR COPYING, DISTRIBUTION AND
    MODIFICATION</p>
    <p>0. You just DO WHAT THE FUCK YOU WANT TO.</p>
</div>
{% endblock %}
