{% extends "_layout.html" %}

{% block title %}{{ _('Links') }}{% endblock %}
{% block headtitle %}{{ _('Links') }}{% endblock %}

{% block body %}
<div class="page">
    <h2>{{ _('Personal informations') }}</h2>
    <ul>
        <li><a href="http://fr.viadeo.com/fr/profile/tao.sauvage">Viadeo</a></li>
        <li><a href="http://www.linkedin.com/profile/view?id=237065693">Linkedin</a></li>
    </ul>
    <h2>{{ _('Repositories') }}</h2>
    <ul>
        <li><a href="https://bitbucket.org/depierre">BitBucket repositories</a></li>
        <li><a href="https://github.com/DePierre">GitHub repositories</a></li>
        <li><a href="https://bitbucket.org/depierre/blog-depierre">{{ _('Source of
            the blog') }}</a></li>
    </ul>
    <h2>{{ _('Others') }}</h2>
    <ul>
        <li><a href="https://www.hackgyver.org/">Hackerspace HackGyver</a></li>
        <li><a href="https://www.root-me.org/">Root-Me: {{ _('Security
            challenges') }}</a></li>
        <li><a href="https://www.utbm.fr/">UTBM: Université de Technologie de
            Belfort-Montbéliard</a></li>
        <li><a href="https://ae.utbm.fr/lolut/">Lolut: {{ _('Free software for the
            UTBM') }}</a></li>
    </ul>
    <h2>{{ _('Utils') }}</h2>
    <ul>
        <li><a href="http://flask.pocoo.org/">Flask: {{ _('python framework for web
            development') }}</a></li>
        <li><a href="https://www.tonbnc.fr/">TonBnc: {{ _('private VMs') }}</a></li>
    </ul>
</div>
{% endblock %}
