{% extends "_layout.html" %}

{% block title %}{{ _('Search') }}{% endblock %}
{% block headtitle %}{{ _('Search') }}{% endblock %}

{% block body %}
<div class="page">
    <form action="{{ url_for('global_search') }}" method="post">
        <dl>
            <dt>{{ _('Search') }}</dt>
            <dd><input type="text" size="30px" name="search" /></dd>
            <dt><label for="categorie">Categories</label></dt>
            <dd><select name="categorie" id="categorie">
                <option label="empty" selected="selected"> </option>
                {% for categorie in categories %}
                <option label="{{ categorie['label'].lower() }}">{{ categorie['label'] }}</option>
                {% endfor %}
            </select></dd>
            <dd><input type="submit" value="{{ _('Search') }}" /></dd>
        </dl>
    </form>
</div>
{% endblock %}
